/* CUSTOM FONT START */

@font-face {
  font-family: 'CooperHewitt';
  src: url('./assets/fonts/CooperHewitt-Book.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('./assets/fonts/CooperHewitt-Medium.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src: url('./assets/fonts/CooperHewitt-Semibold.otf');
  font-weight: 700;
  font-style: normal;
}

/* CUSTOM FONT END */

* {
  box-sizing: border-box;
}

:root {
  --theme-clr: hsl(0, 0%, 23%);
  --theme-clr-dark: hsl(0, 0%, 16%);
  --main-font: 'CooperHewitt', Arial, Helvetica, sans-serif;
  --border-radius: 0.5em;
}

::backdrop {
  background-color: rgba(56, 56, 56, 0.904);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  background-color: var(--theme-clr-dark);
  color: hsl(0, 0%, 100%);
  line-height: 1.7;
}

.main {
  margin-top: 5rem;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* MODAL START */

.modal {
  border: none;
  border-radius: 1rem;
  padding: 2em;
  animation: fade-in 1s ease-in-out;
}

.modal-title {
  margin: 0;
  line-height: 1.25;
  font-weight: 700;
  font-size: 1.7rem;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.form-field input:active,
.form-field input:focus {
  background-color: rgba(223, 223, 223, 0.281);
}

.form-field input {
  border-radius: 0.3em;
  padding: 0.3em 0.7em;
  font-family: inherit;
  border: 1px solid rgba(44, 44, 44, 0.466);
  font-size: 1rem;
}

.btn-submit {
  padding: 0.5em 1.5em;
  font-size: 1rem;
  background-color: var(--theme-clr);
  border: none;
  color: white;
  font-family: inherit;
  border-radius: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.close-btn {
  background-color: var(--theme-clr);
  padding: 0.5em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  cursor: pointer;
}

/* MODAL END */

/* ANIMATIONS START */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ANIMATIONS END */

/* HEADER START */

.main-title {
  font-size: 3.5rem;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.open-btn {
  padding: 0.5em 1.5em;
  background-color: rgb(255, 174, 0);
  font-weight: 700;
  border: none;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
}

/* HEADER END */

/* BOOKS SECTION START */

.books-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 72rem;
  margin: 7rem auto;
  gap: 4rem;
  color: black;
}

.book-template {
  background-color: rgb(223, 223, 223);
  border-radius: var(--border-radius);
  padding: 2em;
}

/* BOOKS SECTION END */

/* BOOK CARD START */

.template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.template-close-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(207, 207, 207);
  border: none;
  border-radius: var(--border-radius);
}

.template-title {
  margin: 0;
  font-size: 1.7rem;
}

.template-author {
  font-style: italic;
  margin: 0.1em 0 0 0;
}

.template-pages {
  margin: 2em 0 0 0;
}

/* BOOK CARD END */

bosx {
  color: rgb(44, 189, 0);
}
